---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


.img-circulardk{
 width: 200px;
 height: 200px;
 background-image: url('https://scontent-a-lhr.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1456685_10152070689069715_1562939626_n.jpg?oh=d20e0221e0cca39a90300bda87990ce4&oe=55531A4E');
 background-size: cover;
 display: block;
 border-radius: 100px;
margin:20px;

}

.img-circularphb{
 width: 200px;
 height: 200px;
 background-image: url('https://scontent-b-lhr.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1506007_10154830165570183_1136743687473614627_n.jpg?oh=f88d07851204686f04c3e001d79b9d38&oe=5522CDA6');
 background-size: cover;
 display: block;
 border-radius: 100px;
margin:20px;
}

.hashtag{
	font-size: 50px;
	font-color: black;
	font-weight: bold;
	font-style: italic;
}


.week1img{
 width: 200px;
 height: 200px;
 background-image: url('http://i2.kym-cdn.com/photos/images/facebook/000/288/653/844.jpg');
 background-size: cover;
 display: block;
 border-radius: 20px;
}

.week2img{
 width: 200px;
 height: 200px;
 background-image: url('http://upload.wikimedia.org/wikipedia/commons/2/2d/Tox_Unknown_icon.svg');
 background-size: cover;
 display: block;
 border-radius: 20;
 }

.img-circularga{
 width: 200px;
 height: 200px;
 background-image: url('https://avatars1.githubusercontent.com/u/10707415?v=3&s=460');
 background-size: cover;
 display: block;
 border-radius: 100px;
 margin:20px;
}

.img-circularaj{
 width: 200px;
 height: 200px;
 background-image: url('https://scontent-a-lhr.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/p480x480/1891251_10153966476225472_1605760424_n.jpg?oh=4fc8919776c1bd270e44d0919a73bb94&oe=556A306F');
 background-size: cover;
 display: block;
 border-radius: 100px;
 margin:20px;

}

.colour {
	background-color:blue;
}

// import bootstrap
@import "bootstrap";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
