<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <img class="homepage-img" src="http://foundry-matrix.github.io/fmblog/img/Logo.png" alt="">
                </div>

            </div>
        </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
